# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#windows solution
*.sln
*.suo
*.user
*.ncb
debug
release
lua*/
*.dll
*.exp
*.ilk
*.lib
*.pdb